<section class="checkout">
    <div class="checkout-container">
        <div class="checkout-header">
            <a href="#" ng-click="pagePrev();;" class="btn-rollback">
                <svg class="icon" viewBox="0 0 477.175 477.175">
                    <use xlink:href="/assets/img/icons.svg#icon-back" />
                </svg>                    
                back
            </a>
            <p class="logo-servicename">Secured by<br><span>SERVICENAME</span></p>
        </div>
        <div class="checkout-content">
            <h1><strong></strong>Select Your Bank</h1>
            <ul>
                <li ng-repeat="bank in banks | orderBy:'name'">
                    <a href="#!/checkout-login/{{ bank.slug }}" title="{{ bank.name }}">
                        <img ng-src="{{ bank.image }}" alt="{{ bank.name }}">
                    </a>
                </li>
            </ul>
        </div>
        <div class="checkout-footer">
            <div ng-include="'html/partials/checkout-steps.html'"></div>
        </div>
    </div>
</section>