<section class="checkout">
    <div class="checkout-container">
        <div class="checkout-header">
            <a href="#" ng-click="pagePrev();;" class="btn-rollback">
                <svg class="icon" viewBox="0 0 477.175 477.175">
                    <use xlink:href="/assets/img/icons.svg#icon-back" />
                </svg>                    
                back
            </a>
            <p class="logo-servicename">Secured by<br><span>SERVICENAME</span></p>
        </div>
        <div class="checkout-content">
            <h1><strong></strong>Secure Access</h1>
            <form ng-submit="paymentConfirm($event, formPermission.$valid)" name="formPermission" class="form" id="formPermission" novalidate>
                <legend><strong>Hi {{ username }}!</strong><br><br>Store is asking for the following permissions:</legend>
                <div class="terms">
                    <div class="term">
                        <svg class="icon" viewBox="0 0 248.375 248.375">
                            <use xlink:href="/assets/img/icons.svg#icon-perfil" />
                        </svg>
                        <span><strong>Access Current</strong><br>and Saving Accounts</span>
                    </div>
                    <div class="term">
                        <svg class="icon" viewBox="0 0 560.209 560.209">
                            <use xlink:href="/assets/img/icons.svg#icon-transaction" />
                        </svg>
                        <span><strong>Read</strong><br>Transactions</span>
                    </div>
                    <div class="term">
                        <svg class="icon" viewBox="0 0 419.649 419.648">
                            <use xlink:href="/assets/img/icons.svg#icon-locked" />
                        </svg>
                        <span><strong>Background</strong><br>Access</span>
                    </div>
                </div>
                <div class="form-row">
                    <label for="agree">
                        <input type="checkbox" class="form-control" ng-model="agree" name="agree" id="agree" value="true" required>
                        I agree to the SERVICENAME Terms & Conditions and Privacy Policy<em>(required)</em>.
                    </label>
                    <div class="errors">
                        <span class="label-validate" ng-show="(formPermission.agree.$touched || formPermission.agree.$dirty) && formPermission.agree.$error.required">Campo obrigatório</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="actions">
                        <button type="button" class="btn-primary background-gray" ng-click="buttonDeny();">Deny</button>
                        <button type="submit" class="btn-primary background-orange" ng-disabled="formPermission.$invalid">Allow</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="checkout-footer">
            <div ng-include="'html/partials/checkout-steps.html'"></div>
        </div>
    </div>
</section>