<section class="checkout">
    <div class="checkout-container">
        <div class="checkout-header">
            <a href="#" ng-click="pagePrev();" class="btn-rollback">
                <svg class="icon" viewBox="0 0 477.175 477.175">
                    <use xlink:href="/assets/img/icons.svg#icon-back" />
                </svg>                    
                back
            </a>
            <p class="logo-servicename">Secured by<br><span>SERVICENAME</span></p>
        </div>
        <div class="checkout-content">
            <h1 title="{{ bank.name }}"><img ng-src="{{ bank.image }}" alt="{{ bank.name }}"></h1>
            <form ng-submit="login($event, formLogin.$valid);" class="form" name="formLogin" novalidate>
                <div class="form-row" ng-class="{ 'has-error' : ((formLogin.email.$touched || formLogin.email.$dirty) && formLogin.email.$error.required) ||  ((formLogin.email.$touched || formLogin.email.$dirty) && formLogin.email.$invalid && !formLogin.email.$error.required)}">
                    <label for="email">Username <em>*</em></label>                
                    <div class="input-group">
                        <svg class="icon" viewBox="0 0 248.375 248.375">
                            <use xlink:href="/assets/img/icons.svg#icon-perfil" />
                        </svg>
                        <input type="email" class="form-control" ng-model="email" id="email" name="email" required>
                    </div>
                    <div class="errors">
                        <span class="label-validate" ng-show="(formLogin.email.$touched || formLogin.email.$dirty) && formLogin.email.$error.required">Campo obrigatório</span>
                        <span class="label-validate" ng-show="(formLogin.email.$touched || formLogin.email.$dirty) && formLogin.email.$invalid && !formLogin.email.$error.required">Valor inválido</span>
                    </div>
                </div>
                <div class="form-row" ng-class="{ 'has-error' : (formLogin.password.$touched || formLogin.password.$dirty) && formLogin.password.$error.required }">
                    <label for="password">Password <em>*</em></label>
                    <div class="input-group">
                        <svg class="icon" viewBox="0 0 485.017 485.017">
                            <use xlink:href="/assets/img/icons.svg#icon-key" />
                        </svg>
                        <input type="password" class="form-control" ng-model="password" id="password" name="password" required>
                    </div>
                    <div class="errors">
                        <span class="label-validate" ng-show="(formLogin.password.$touched || formLogin.password.$dirty) && formLogin.password.$error.required">Campo obrigatório</span>
                    </div>
                </div>
                <div class="form-row">
                    <label for="world">Memorable world</label>
                    <div class="input-group">
                        <svg class="icon" viewBox="0 0 26 26">
                            <use xlink:href="/assets/img/icons.svg#icon-checked" />
                        </svg>
                        <input type="text" class="form-control" ng-model="world" id="world" name="world">
                    </div>
                </div>
                <div class="form-row">
                    <label for="remember">
                        <input type="checkbox" class="form-control" ng-model="remember" id="remember" name="remember">
                        Remember me
                    </label>
                </div>
                <div class="form-row">
                    <div class="form-col">
                        <button type="submit" class="btn-primary background-orange" ng-disabled="formLogin.$invalid">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="checkout-footer">
            <div ng-include="'html/partials/checkout-steps.html'"></div>
        </div>
    </div>
</section>