<section class="order">
    <div class="container">
        <h1>Store</h1>
        <ul>
            <li>
                <p>Subtotal:</p>
                <span><strong>$899</strong></span>
            </li>
            <li>
                <p>Shipping:</p>
                <span><strong>FREE</strong></span>
            </li>
            <li>
                <p>Shipping:</p>
                <span><strong>FREE</strong></span>
            </li>
            <li>
                <p>Grand Total:</p>
                <span><strong>$899</strong></span>
            </li>
        </ul>
    </div>
</section>

<div ng-include="'html/partials/payment-options.html'"></div>