.swal-modal{
    .swal-icon{
        img{
            width: 15rem;
            max-width: 100%;
        }
    }

    .swal-title {
        padding: 1.5rem 3rem 0 3rem;
        font-size: 2.5rem;
        color: $color-primary;
        line-height: 3rem;
        text-transform: uppercase;
    }

    .swal-text {
        padding: 0 3rem;
        font-size: 1.5rem;
        color: darken($color-secondary, 10%);
        line-height: 2rem;
    }

    .swal-footer{
        display: flex;
        flex-direction: column;
        padding: 3rem;
        .swal-button-container{
            margin: 0.5rem;
            .swal-button{
                width: 100%;
                height: 5rem;
                padding: 0;
                background-color: $color-primary;
                color: #FFF;
                border: 0;
                border-radius: 0.7rem;
                box-shadow: none;
                outline: 0;
                transition: background-color 0.3s ease;
                cursor: pointer;
                &.swal-button--cancel{
                    &:hover{
                        background-color: green;
                    }
                }
                &.swal-button--confirm{
                    &:hover{
                        background-color: red;
                    }
                }
            }
            &:first-child{
                margin-top: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &.success{
        .swal-footer{
            .swal-button-container{
                .swal-button{
                    &:hover{
                        background-color: lighten($color-primary, 10%);
                    }
                }
            }
        }
    }
    &.error{
        .swal-footer{
            .swal-button-container{
                .swal-button{
                    &:hover{
                        background-color: lighten($color-primary, 10%);
                    }
                }
            }
        }
    }
}