.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
}
.input-group{
    position: relative;
    display: flex;
    align-items: center;
    .icon{
        position: absolute;
        left: 1rem;
        width: 2rem;
        fill: $color-primary;
        transition: fill 0.3s ease;
    }
    .form-control{
        padding-left: 4rem;
    }
}
.form-row{
    display: flex;
    flex-direction: column;
    margin: 0 0 2.5rem 0;
    &:last-child{
        margin-bottom: 0;
    }
}
label{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: $color-primary;
    line-height: 1.4rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
input[type=checkbox].form-control{
    width: auto;
    height: auto;
    margin: 0 1.5rem 0 0;
}
.form-control{
    width: 100%;
    height: 4.5rem;
    padding: 0 2rem;
    border: 1px solid transparent;
    background-color: lighten($color-secondary, 60%);
    font-size: 1.4rem;
    color: $color-primary;
    letter-spacing: 0.1rem;
    border-radius: 1rem;
    outline: 0;
    transition: border-color 0.3s ease;
}
.btn-primary{
    width: 100%;
    text-transform: uppercase;
    &[disabled]{
        opacity: 0.3;
        cursor: not-allowed;
    }
}
.errors{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}
.label-validate{
    font-size: 1.4rem;
    color: red;
    line-height: 1.4rem;
    letter-spacing: 0.1rem;
}
em{
    padding: 0 0.5rem;
    color: red;
}
.has-error{
    .form-control{
        border-color: red;
    }
    .input-group{
        .icon{
            fill: red;               
        }
    }
}

.form#formPermission{
    max-width: 55rem;
    label{
        font-size: 1.4rem;
        text-transform: none;
        letter-spacing: 0;
        line-height: 2rem;
        strong{
            padding: 0 0.5rem;
        }
    }
    legend{
        margin-bottom: 5rem;
        font-size: 1.6rem;
        color: $color-secondary;
        line-height: 2rem;
        text-align: center;
    }
    .terms{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;
        .term{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            text-align: center;
            .icon{
                width: 2.5rem;
                margin-bottom: 1rem;
                fill: $color-secondary;
            }
            span{
                font-size: 1.4rem;
                color: $color-secondary;
                line-height: 2rem;
            }
        }
    }
}