section.checkout{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    .checkout-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 767px;
        padding: 3rem;
        border-radius: 1rem;
        background-color: #FFF;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
        .checkout-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 3rem 0;
            .btn-rollback{
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                color: $color-secondary;
                line-height: 1.4rem;
                text-transform: uppercase;
                transition: color 0.3s ease;
                .icon{
                    width: 1.2rem;
                    margin-right: 1rem;
                    fill: $color-secondary;
                    transition: fill 0.3s ease;
                }
                &:hover{
                    color: $color-tertiary;
                    .icon{
                        fill: $color-tertiary;
                    }
                }
            }
            .logo-servicename{
                font-size: 1.2rem;
                color: $color-secondary;
                line-height: 1.6rem;
                text-align: right;
                span{
                    font-size: 1.6rem;
                    color: $color-tertiary;
                }
            }
        }
        .checkout-content{
            display: flex;
            flex-direction: column;
            margin-bottom: 5rem;
            h1{
                margin-top: 0;
                margin-bottom: 3rem;
                font-size: 2rem;
                color: $color-primary;
                line-height: 2rem;
                text-align: center;
                img{
                    width: 15rem;
                    max-width: 100%;
                }
            }
            ul{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;                
                list-style: none;
            }
            li{
                display: flex;
                width: 22.5%;
                margin: 1rem 0;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 10rem;
                    padding: 1.5rem;
                    background-color: #EEE;
                    border: 2px solid transparent;
                    border-radius: 1rem;
                    cursor: pointer;
                    transition: border-color 0.3s ease;
                    input[type=radio]{
                        display: none;
                    }
                    img{
                        width: 20rem;
                        max-width: 100%;
                    }
                    &:hover{
                        border-color: $color-tertiary;
                    }
                }
            }
            .actions{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 2.5rem;
                .btn-primary{
                    width: 45%;
                }
            }
        }
        .checkout-footer{
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    margin: 0 1rem;
                    p{
                        width: 2rem;
                        height: 5px;
                        background-color: lighten($color-secondary, 50%);
                        text-indent: -99999px;
                        overflow: hidden;
                    }   
                    &:first-child{
                        margin-left: 0;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                    &.active{
                        p{
                            background-color: $color-tertiary;
                        }
                    }
                }
            }
        }
    }
    
    @media(max-width: 567px){
        .checkout-container{
            padding: 2rem 3rem;
            .checkout-content{
                margin-bottom: 3rem;
                li{
                    width: 47%;
                }
            }
        }
    }
}