*{
	box-sizing: border-box;
}

html, body{
	font-size: 10px;
	margin: 0;
	padding: 0;
    font-family: $font-primary;
}

body{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	min-height: 100%;
    padding: 3rem 2rem;
    background-color: #EEE;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

a, button{
    outline: 0;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary{
    padding: 2rem;
    background-color: #FFF;
    border: 0;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: $color-primary;
    text-align: center;
    transition: all 0.3s ease;
    &.background-orange{
        background-color: $color-tertiary;
        color: #FFF;
    }
    &.background-gray{
        background-color: lighten($color-secondary, 60%);
    }
    &:hover{
        background-color: $color-primary;
        color: #FFF;
        &.background-orange{
            background-color: lighten($color-tertiary, 10%);
        }
    }
}

a.btn-primary{
    line-height: 1.6rem;
}

@media(max-width: 1450px){
    html, body{
        font-size: 9px;
    }
}

@media(max-width: 1280px){
    html, body{
        font-size: 8px;
    }
}

@media(max-width: 767px){
    html, body{
        font-size: 7px;
    }
}