section.order{
	display: block;
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	padding: 3rem;
	background-color: #FFF;
	border-radius: 1rem;
	h1{
		margin: 0 0 5rem 0;
		font-size: 3rem;
		text-align: center;
		color: $color-primary;
		line-height: 3rem;
	}
	ul{
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 1.5rem 0;
			font-size: 1.6rem;
			color: $color-secondary;
			line-height: 1.6rem;
			transition: all 0.3s ease;
			p{
				margin: 0;
				line-height: inherit;
			}
			&:first-child{
				padding-top: 0;
			}
			&:last-child{
				margin-top: 1.5rem;
				padding-bottom: 0;
				border-top: 1px solid $color-primary;
			}
			&:hover{
				color: $color-tertiary;
				&:last-child{
					border-color: $color-tertiary;
				}
			}
		}
	}
}