section.payment-options{
	display: block;
	width: 100%;
	max-width: 450px;
    margin: 3rem auto 0 auto;
    p{
        margin: 0 0 3rem 0;
        font-size: 2rem;
        color: $color-primary;
        line-height: 2rem;
        text-align: center;
    }
    .actions{
        display: flex;
        justify-content: space-between;
        a{
            flex-basis: 30%;
        }
    }
	@media(max-width: 567px){
		.actions{
			a.btn-primary{
				flex-basis: 32%;
				padding: 1.5rem;
			}
		}
	}
}