<ul>
    <li ng-class="{ active : pageCurrent == '/checkout-banks'}"><p>Etapa 1</p></li>
    <li ng-class="{ active : pageCurrent == '/checkout-login/:slug'}"><p>Etapa 2</p></li>
    <li ng-class="{ active : pageCurrent == '/checkout-confirm'}"><p>Etapa 3</p></li>
</ul>
