<section class="payment-options">
    <div class="container">
        <p><strong>Payment Options:</strong></p>
        <div class="actions">
            <a href="#" class="btn-primary">Credit Card</a>
            <a href="#" class="btn-primary">PayPal</a>
            <a href="#!/checkout-banks" class="btn-primary background-orange">SERVICENAME</a>
        </div>
    </div>
</section>